@page "/"

<PageTitle>Home</PageTitle>

<p><h1 class="text-center">Welcome to the Segway Portal</h1></p>

<p class="my-4"><h3 class="text-center">This tool has been designed for the updating of Segway Support Tools for Authorized Service Centers.</h3></p>

<p><h3 class="text-center">Use of this tool is for authorized personnel only.</h3></p>
