.wide300 {
    width: 300px;
}

.wide250 {
    width: 250px;
}

.wide200 {
    width: 200px;
}

.wide100 {
    width: 100px;
}

.wide50 {
    width: 50px;
}

.wide40 {
    width: 40px;
}

.wide30 {
    width: 30px;
}

.wide25 {
    width: 25px;
}

.wide20 {
    width: 20px;
}


.wide10p {
    width: 10%;
}

.wide20p {
    width: 20%;
}

.wide25p {
    width: 25%;
}

.wide30p {
    width: 30%;
}


.wide33p {
    width: 33%;
}


.wide40p {
    width: 40%;
}


.wide50p {
    width: 50%;
}


.wide60p {
    width: 60%;
}


.wide66p {
    width: 66%;
}


.wide70p {
    width: 70%;
}


.wide75p {
    width: 75%;
}


.wide80p {
    width: 80%;
}


.wide90p {
    width: 90%;
}


.wide100p {
    width: 100%;
}

.Beta-Color {
    color: purple;
}

.Alpha-Color {
    color: red;
}

.Release-Color {
    color: black;
}

.No-State-Color {
    color: black;
}

