<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Segway Portal</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
            <NavLink class="nav-link" href="/Login" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Login
            </NavLink>
            <form action="/account/logout" method="post">
                <button type="submit" class="nav-link" style="border: none; background: none; cursor: pointer; text-align: left; width: 100%;">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Logout
                </button>
            </form>
            <NavLink class="nav-link" href="/Tools" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Downloadable Tools
            </NavLink>
        </div>
    </nav>
</div>

